.card {
  font-family: arial;
  font-size: 20px;
  text-align: left;
  color: black;
  background-color: white;
  letter-spacing: 2px;
}
.center {
  text-align: center;
}
.author {
  text-align: center;
  font-size: 18px;
  letter-spacing: 26px;
}
.begining {
  font-family: KaiTi;
  font-size: 18px;
  letter-spacing: 4px;
  text-indent: 44px;
}
.content {
  text-indent: 44px;
}
